@model Trip_Reservation_System.ViewModels.BusLineViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Add New Bus", "AddBus")
</p>
<table class="table table-striped table-bordered table-hover">
    <tr>
        <th>
            @Html.Label("Bus Id")
        </th>

        <th>
            @Html.Label("Line Name")
        </th>
        <th>
            @Html.Label("Options")
        </th>
    </tr>

    @foreach (var Bus in Model.Buses)
    {
        <tr>
            <td> @Html.DisplayFor(modelBus => Bus.Id) </td>
            <td>
                @foreach (var Line in Model.Lines)
                {
                    if (Line.Id == Bus.LineId)
                    {
                        @Html.DisplayFor(modelBus => Line.Name)

                    }

                }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = Bus.Id }) |
                @Html.ActionLink("Details", "Details", new { id = Bus.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = Bus.Id })
            </td>


        </tr>
    }

</table>

